.HomeMenu {
    display: flex;
    justify-content: space-evenly;
    font-family: gilroy, helveticaneue-light, helvetica neue light, helvetica neue, Helvetica, Arial, lucida grande, sans-serif;
    font-size: 2.25vh;
    margin-bottom: 10vh;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    gap: 1vw; /* Add space between items if needed */
}

.menu-flex {
    transition: color 0.4s ease-in-out;
    height: 10vh;
}

.menu-img-home {
    width: 8vw;
    height: 100%;
    object-fit: contain;
    transition: transform 0.4s ease-in-out; /* Transition for scaling effect */
}

.menu-flex:hover {
    color: rgb(252, 185, 0);
}

.menu-flex:hover .menu-img-home {
    transform: scale(1.25); /* Scaling the image instead of changing width and height */
}

@media (max-width:660px) {
    .HomeMenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    }
    .menu-img-home {
        width: 25vw;
    }
    .menu-span-home {
        font-size: 0.9em;
    }
}

@media (min-width:661px) and (max-width:1025px){
    .HomeMenu {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Two columns layout */
        row-gap: 2vh;
        margin: 5vh 0vw;
    }
    .menu-flex {
        transition: color 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 11vh;
    }
    .menu-img-home {
        width: 15vw;
        height: 100%;
    }
    .menu-span-home {
        font-size: 0.7em;
    }
}