.side-cart-container {
  position: fixed;
  top: 0;
  right: -100%; /* Hidden initially */
  height: 100vh;
  width: 35vw;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 9999;
  transition: right 0.3s ease-in-out;
}

.side-cart-container.active {
  right: 0; /* Slide in */
}

.side-cart-header {
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid rgba(97, 91, 91, 0.3);
  padding-left: 2vw;
  padding-right: 1vw;
}

.side-cart-head {
  font-size: 4vh;
  letter-spacing: 1.6px;
  color: rgb(97, 91, 91);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.side-cross {
  cursor: pointer;
  font-size: 25px;
  color: rgb(97, 91, 91);
}

.side-cart-items-wrapper {
  display: flex;
  margin-top: 4vh;
  margin-bottom: 5vh;
  width: 30vw !important;
}

.items-in-side-cart {
  height: 70vh;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(97, 91, 91, 0.3);
}

.sidecart-img {
  height: auto;
  width: 10vw;
  object-fit: contain;
}

.side-item-rel {
  display: flex;
  height: 25vh;
  padding-left: 2vw;
}

.item-details {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  text-align: left;
  margin-top: 2vh;
  letter-spacing: 0.05vw;
}

.cart-item-name {
  font-size: 2.5vh;
  color: rgb(51, 51, 51);
  font-weight: 300;
}

.cart-item-price {
  font-size: 2vh;
  color: rgba(97, 91, 91, 0.8);
  margin-top: 1vh;
}

.item-actions {
  margin-top: 4vh;
  display: flex;
}

.item-action-wrapper {
  display: flex;
  justify-content: space-between;
}

.remove-btn-side-cart {
  cursor: pointer;
  height: 6vh;
  width: 2.5vw !important;
  margin-left: 2vw;
  background: white;
  color: black;
  border: none;
}

.remove-btn-side-cart:hover {
  background: white;
}

.trash {
  font-size: 3vh;
  border: 1px solid black;
  padding: 0.5vh 0.5vw;
}

.trash:hover {
  background: #dbdbdb;
}

.subtotal-side-cart {
  display: flex;
  margin: 1vh 5vw;
  justify-content: space-around;
  font-family: 'ITC Benguiat Condensed', Consolas, 'Courier New', monospace;
  font-size: 3.5vh;
}

.empty-side-cart {
  font-size: 4vh;
}

.side-cart-actions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0vh;
}

.side-cart-container .side-cart-actions .Button .btn {
  width: 32vw;
  height: 6vh;
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 0.2vw;
  margin-bottom: 1vh;
}
.side-cart-trash {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 5vw;
}

@media(max-width:660px) {
  .side-cart-container {
    width: 100vw;
    height: 100vh;
  }
  .side-cart-header {
    padding-top: 0;
    height: 7vh;
  }
  .side-cart-head {
    font-size: 1.3em;
  }
  .side-cross {
    padding-top: 1vh;
    font-size: 1.5em;
  }
  .side-cart-container .items-in-side-cart .side-cart-items-wrapper .side-item-rel .item-details 
  .item-actions .item-action-wrapper .wrapper {
    display: flex;
    margin-top: 0vh;
    margin: 0vh 0vw;
    width: 35vw !important;
  }
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0vh 0vw;
    margin-top: 2vh;
  }
  .cart-item-name {
    font-size: 1em;
    color: rgb(51, 51, 51);
    font-weight: 400;
  }
  .items-in-side-cart {
    height: 62vh;
    overflow-y: scroll;
    margin-left: 0vh;
    border-bottom: 1px solid rgba(97, 91, 91, 0.1);
  }
  .cart-item-price {
    font-size: 1em;
    color: rgba(97, 91, 91, 0.8);
    margin-top: 0vh;
  }
  .side-item-rel {
    display: flex;
    gap: 2vw;
    height: 15vh;
  }
  .sidecart-img {
    height: auto;
    width: 30vw;
    object-fit: contain;
  }
  .item-actions {
    margin-top: 0vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 8vw;
  }
  .side-cart-trash {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 6vw;
  }
  .remove-btn-side-cart {
    cursor: pointer;
    height: 4vh;
  }
  .trash {
    font-size: 1.2em;
    border: 1px solid black;
    padding: 0.25vh 2vw;
  }
  .empty-side-cart {
    font-size: 1.4em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .side-cart-actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0vh;
  }
  
  .side-cart-container .side-cart-actions .Button .btn {
    width: 90vw;
    height: 6vh;
    font-size: 1.1em;
    font-weight: 100;
    margin-left: 1vw;
    margin-bottom: 0vh;
  }
  .subtotal-side-cart {
    padding-top: 1vh;
    display: flex;
    margin: 0vh 5vw;
    justify-content: space-around;
  }
  .subtotal-span {
    font-family: 'ITC Benguiat Condensed', Consolas, 'Courier New', monospace;
    font-size: 0.8em;
  }
}